.Empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  &__icon {
    font-size: 80px;
    margin-bottom: 16px;
    color: var(--base-blue);
  }
  &__title {
    margin-bottom: 12px;
  }
  &__description {
    width: 100%;
    max-width: 440px;
    text-align: center;
    white-space: pre-wrap;
  }
}